<h1>Burgers</h1>

{{#each burgers}}

{{#if this.devoured}}
<h2>TO EAT</h2>
<li>
  {{this.id}} || {{this.burger_name}}
</li>
{{/if}}

{{#unless this.devoured}}
<h2>EATEN</h2>
<li>
  {{this.id}} || {{this.burger_name}}
</li>
{{/unless}}

{{/each}}

<h2>CREATE A BURGER</h2>
<form id="addburger" class="button-size">
  <textarea typce="text" name="plan"></textarea>
  <button type="submit">Update Plan!</button>
</form>

<script>
  $("#addburger").on("submit", function(event) {
    event.preventDefault();

    var newBurger = {
      burger_name: $("#addburger [name=plan]").val().trim();
    }

    $.ajax("/burgers", {
      type: "POST",
      data: newBurger
    }).then(
      function() {
        console.log("created new burger");
        location.reload();
      }
    );
  })
</script>